body{
    background-color: hsl(185, 41%, 84%)

}

main{
    background-color: white;
    text-align: center;
    width:  63rem;
    height:34rem;
    /* padding: 10px; */
    margin-left: 15rem;
    border-radius: 20px 20px;
    
}

.below1{
    width: 22rem;
    height: 19rem;
    margin-top: 6rem; 

}

.below2{
    background-color: hsl(183, 100%, 15%);
    width: 33rem;
    height: 25rem;
    margin-top: 4rem;
    border-radius: 15px 15px;
    
}

.container{
    display: flex;
    gap: 80px;
    margin-top: 5rem;
    
}

.RESET{
    background-color: hsl(185, 51%, 70%);
    width: 15rem;
    height: 2.1rem;
    color:hsl(183, 100%, 15%);
    font-size: 15px;
    font-weight: bold;
    border-radius: 9px 9px;
    border-color: hsl(185, 51%, 70%);
    cursor: pointer;
    /* margin-bottom:4rem; */
    margin-left: 6rem;
}

.below2 h6{
    color: hsl(0, 0%, 100%);
}

.below2 p{
    color:hsl(186, 14%, 43%)
}

.tip1{
    display: flex;
}

.tip2{
    padding: 1rem;
}


.money-input-container{
    margin-top: 3rem;
    padding-left: 7rem;
   
}

.total-1{
    display: flex;
}

.total-2{
    padding: 1.3rem;
}

.money-input-container2{
    margin-top: 3rem;
    padding-left: 7rem;
}

.button1 {
    display: flex;
    gap: 20px; /* Adjust the value as needed */
    justify-content: center;
}

.button2{
    display: flex;
    gap: 20px; /* Adjust the value as needed */
    justify-content: center;
    margin-top: 1.5rem;

}

.button1 button {
    width: 65px; /* Set width of the buttons */
    height: 40px; /* Set height of the buttons */
    font-size: 16px; /* Adjust font size if needed */
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Vertically center text */
    padding: 0; /* Remove default padding */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
    background-color: hsl(183, 100%, 15%); /* Button background color */
    cursor: pointer; /* Cursor style on hover */
    color:hsl(0, 0%, 100%);
}

.button2 button{
    width: 65px; /* Set width of the buttons */
    height: 40px; /* Set height of the buttons */
    font-size: 16px; /* Adjust font size if needed */
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Vertically center text */
    padding: 0; /* Remove default padding */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
    background-color: hsl(183, 100%, 15%);/* Button background color */
    cursor: pointer; /* Cursor style on hover */
    color:hsl(0, 0%, 100%);
}

.billing{
    margin-right: 7.9rem;
}

.tip{
    margin-right:5rem;
}
.People-num{
    margin-right: 3rem;
}